.corkboard__wall {
    min-height: 80vh;
    max-height: 80vh;
}

.corkboard__frame {
    min-height: 70vh;
    max-height: 70vh;
    background-color: #9c6644;
}

.corkboard__board {
    min-height: 65vh;
    max-height: 65vh;
    width: 100%;
    overflow: auto;
    background-color: blanchedalmond;
}

.corkboard__button-bar {
    min-height: 8vh;
    max-height: 8vh;
}