.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.story-list__title {
  display: block;
  width: 80%;
}

.story-list__header {
  text-align: center;
}

.current-title-btn {
  text-align: center;
  padding: 10px;
}

.writing-desk__board-button {
  display: block;
  width: 100%;
}

.writing-desk__editor {
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
}

.header__site-name {
  width: 100%;
  text-align: center;
  font-size: large;
  padding: 8px 0px;
  font-weight: bolder;
  letter-spacing: 15px;
}

.site-body {
  width: 100%;
  margin: 0px;
}

.no-user-page__btn {
  padding: 10px;
  margin: 5em;
}

.no-user-page__box {
  max-height: 80vh;
  min-height: 80vh;
}

.intro {
  padding: 3em;
}

.body-site {
  min-height: 85vh;
  max-height: 85vh;
}

.main-options-nav {
  width: 95%;
}

.spring-green {
  background-color: #06d6a0;
}

.ada-footer {
  padding: 4px;
  text-align: center;
  font-size: small;
}

.btn-light-green {
  background-color: #b7e4c7;
}

* {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}